<p id="notice"><%= notice %></p>

<h1>Teams</h1>

    <% @teams.each do |team| %>
        <%= link_to "Team: " + team.name + " from " + team.department + " - " + team.company.name + " Team leader " + team.owner.email, team_path(team), :class=>"list-group-item list-group-item-action" %>
    <% end %>

<br>

<%= link_to 'New Team', new_team_path, :class=>"btn btn-primary" %>
