<p id="notice"><%= notice %></p>

<h1>User details</h1>

  <div class="list-group"> 
    <% @userdetails.each do |userdetail| %>
        <%= link_to image_tag(userdetail.usrphoto.thumb.url.to_s) + ' ' +userdetail.name + ' - (' + userdetail.user.email + ') from Team: ' + userdetail.team.name, userdetail_path(userdetail), :class=>"list-group-item list-group-item-action" %>
    <% end %>
  </div>

<br>

<%= link_to 'New Userdetail', new_userdetail_path, class: "btn btn-primary" %>
