<p id="notice"><%= notice %></p>

<h1>Companies</h1>

  <div class="list-group">
    <% @companies.each do |company| %>
        <%= link_to image_tag(company.logoimg.thumb.url.to_s) + " Company: " + company.name + "   -   email: " + company.email, company_path(company), :class=>"list-group-item list-group-item-action" %>
    <% end %>
  </div>
<br>

<%= link_to 'New Company', new_company_path, :class=>"btn btn-success" %>
