.home {
	background-image: url("bg.png");
	min-height: 600px;
 	position: relative;
	background-size: contain;
	background-position:center;
	background-repeat: no-repeat;
	margin-left: 50px;
	margin-right: 50px;
}