<div class="container-fluid pie">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="row">
					<div class="col-4">
						<%= image_tag("CGSlogo.png", size:"71x32") %>
					</div>
					<div class="col-8">
						COMPAÑIA GENERAL<br/>DE SERVICIOS SRL
					</div>
				</div>
			</div>

			<div class="col">
				<div class="row">
					<div class="col-3">
						<%= image_tag("home.png") %>
					</div>
					<div class="col-9">
						Los Zorzales 620 - Juana Koslay<br/>Prov de San Luis - CP: 5701
					</div>
				</div>
			</div>

			<div class="col">
				<div class="row">
					<div class="col-3">
						<%= image_tag("phone.png") %>
					</div>
					<div class="col-9">
						J Pina: +54 9 266(15)4512645<br/>G Falavigna: +54 9 266(15)4512644
					</div>
				</div>
			</div>

			<div class="col">
				<div class="row">
					<div class="col-3">
						<%= image_tag("mail.png") %>
					</div>
					<div class="col-9">
						J Pina: <a href="mailto:pinajoa@yahoo.com">pinajoa@yahoo.com</a><br/>G Falavigna: <a href="mailto:gfalav@hotmail.com"> gfalav@hotmail.com</a>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>